<body id="top" class="ndhome">
	
 		
	
 		<%=render partial: 'common/header'%>

		<%if params[:id] == 'house-keeping'%>
			<%=render partial: 'house_keeping'%>
		<%elsif params[:id] == 'security-guard'%>	
			<%=render partial: 'security_guard'%>
		<%elsif params[:id] == 'man-power'%>
			<%=render partial: 'other_manpower'%>
		<%end%>	

</body>	
<%=render partial: 'common/clients'%>
<%=render partial: 'common/footer'%>
<script type="text/javascript">
	$("#services").attr("class","active")
</script>