<div style="background-color:#F6F5F4;">
<center><h3><u>Candidate Form</u></h3></center>
<center>
<table>
	<tbody>
		<tr><td><b>First Name :</b></td><td><%=@candidate.first_name%></td></tr>
		<tr><td><b>Last Name :</b></td><td><%=@candidate.last_name%></td></tr>
		<tr><td><b>Email :</b></td><td><%=@candidate.email%></td></tr>
		<tr><td><b>Contact Number :</b></td><td><%=@candidate.contact_number%></td></tr>
		<tr><td><b>State :</b></td><td><%=@candidate.state%></td></tr>
		<tr><td><b>City :</b></td><td><%=@candidate.city%></td></tr>
		<tr><td><b>Street/Town :</b></td><td><%=@candidate.street%></td></tr>
		<tr><td><b>Qualification :</b></td><td><%=@candidate.qualification%></td></tr>
		<tr><td><b>Total Experience :</b></td><td><%=@candidate.experience%></td></tr>
		<tr><td><b>Job Title :</b></td><td><%=@candidate.job_title%></td></tr>
	</tbody>
</table>
</center>
</div>