<!-- .Tab Widget Start -->
<div style="width:80%;margin-top:10%;margin-bottom:2%;margin-left:9%;">
<div class="ndwidget_teb clear animation" data-animation="animation-fade-in-right" id="blogsidebar-tab">
 
<div class="nd-default">
<ul class="nav nav-tabs">
<li class="active"><a href="#tab1all" data-toggle="tab">Current Openings</a></li>
</ul>

<div class="ndtabbody">
<div class="tab-content">
<div class="tab-pane fade in active" id="tab1all">
	<%@jobs.each do |job|%>
		<div class="tab-item clear">
			 
			<div class="tab-text" style="float:left;width:70%;">
				<h5 class="tab-tilte"><a href="#"><%=job.name%></a></h5>
				<p class="tab-time"><%=job.company_display_name%></p>
				<p class="tab-com">Posted On - <%=Time.parse(job.from).to_date.strftime("%d %b,%Y")%></p>
				<p class="tab-com"><label style="font-size:12px;width:30%;margin-top:3%;color:#000;"><b><i class="fa fa-building-o" aria-hidden="true" style="font-size:15px;"></i>
					<%=job.exp_required%></b></label>
					<label style="font-size:12px;;width:30%;margin-top:3%;color:#000;"><i class="fa fa-money" aria-hidden="true" style="font-size:15px;"></i>
						<%=job.annual_salary_offered%></label>
					<label style="font-size:10px;;width:30%;margin-top:3%;color:#000;"><i class="fa fa-globe" aria-hidden="true" style="font-size:15px;"></i>
						<%=job.job_location.delete('[]').delete('""')[1..-1]%></label>
				</p>
				<p style="margin-top:2%;">
					<b><%=job.job_description%></b>
				</p>
				<p class="tab-com"><label style="font-size:12px;width:30%;margin-top:3%;color:#000;"><b>Skills:
					<%=job.candidate_skills%></b></label>
					 
				</p>
			</div>
			<div style="height:200px;">
				<a href="/candidates/new"><%=submit_tag :Apply,:class => "jobApplyBtn"%></a>
				 
				 
			</div>
		</div>
	<%end%>
	<%=will_paginate @jobs%>
</div> 

 
 
 
</div><!-- tab photo sec-->
</div><!-- tab content sec-->
</div><!-- ndtab body sec-->
</div><!-- nddefault sec-->
</div><!-- .Tab Widget sec-->
</div