<body>
    <div style="height:600px;margin-top:5%;"> 
        <div class="container1">
            <div class="codrops-top">
                               
            </div>
            <header>
               <nav class="codrops-demos"></nav>
            </header>
            <section>				
                <div id="container_demo" >
                    
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="signup" class="animate form">
                           <%= form_for @user do |f| %>
                                <h1> Sign up </h1> 
                                <p> 
                                    <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                                    <%=f.text_field :name,:placeholder => "username",:required => true,:id => "usernamesignup" %>
                                </p>
                                <p> 
                                    <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                                    <%=f.email_field :email,:placeholder => "mymail@mail.com",:required => true,:id => "emailsignup" %>
                                </p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                    <%=f.password_field :password ,:placeholder => 'eg. X8df!90EO',:required => true,:id => "passwordsignup"%>
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                                    <%=f.password_field :password_confirmation ,:placeholder => "eg. X8df!90EO",:required => true,:id => "passwordsignup_confirm"%>
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd">Select Role</label>
                                    <%=f.select :role_id, Role.pluck(:name, :id),:required => true%>
                                </p>

                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd">Select Status</label>
                                    <%=f.select :status,STATUS,:required => true%>
                                </p>
                                <p class="signin button"> 
									<%= f.submit :submit,:value => "Sign Up"%>
								</p>
                                <p class="change_link" id="button-div">
									<a href="" class="to_register" id="site">Go to home</a>
								</p>
                            <%end%>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
    </div>    
</body>
  <script type="text/javascript">
        jQuery("#site").click(function(){
             location.href = "/"
        })
    </script>