<!DOCTYPE html>
<html class="no-js"  dir="ltr" lang="en-US">
<head>
	 <meta charset="utf-8" />	
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    		<%= favicon_link_tag "/assets/logo.png", rel: 'icon', type: 'image/png' %>
		 
         
  <title>NEW LION</title>
  <meta content="Are you looking for best house keeping services or security guard services or other type of man power than please contact us.Read more on New Lion Housekeeping!" name="description">
  <meta name="author" content="New Lion Housekeeping" />
  <meta name="keywords" content="Housekeeping,security,secutiry guard,maid,man power,best security,dehradun decurity,dehradun man power,dehradun housekeeping,tarun power house keeping,new lion dehradun,new lion housekeeping,housekeeping dehradun" />
  <meta name="revisit-after" content="7 days" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  
  <%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=true', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<%= yield %>

<%if params[:controller] == "home"%>
	<%= javascript_include_tag( '$("#home").attr("class","active")' ) %>
<%elsif params[:controller] == "about"%>
	<%= javascript_include_tag( '$("#about").attr("class","active")' ) %>
<%elsif params[:controller] == "services"%>
	<%= javascript_include_tag( '$("#services").attr("class","active")' ) %>
<%elsif params[:controller] == "contacts"%>
	<%= javascript_include_tag( '$("#contact").attr("class","active")' ) %>
<%end%>



