<!DOCTYPE html>
<html class="no-js"  dir="ltr" lang="en-US">
<head>
<meta charset="utf-8" />	
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<%= favicon_link_tag "/assets/logo10.png", rel: 'icon', type: 'image/png' %>
 
 
<title>SKC</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 

<%= javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=true', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<body id="top" class="ndhome">
<header class="header1 headerStyle1" id="header">
	<div class="ndheader" id="ndheader">
		<div class="sticky scrollHeaderWrapper" id="header">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="logo pull-left">
									 
									 <a class="navbar-brand" href="" id="hlogo">
									 <div class="logo">	<img src="/assets/logo10.png" class="preload-gif" id="logo">
											<span style="margin-left:5%;">SK</span><span class="font-color">CONSULTANTS.</span></div>
										</a>

						</div>

<nav class="mainMenu mainNav pull-right" id="mainNav">
<ul class="navTabs">
<li>
<a href="" id="home">Home</a>
</li>
<li>
<a href="/about" id="about">About Us</a>
</li>
<li>
<a href="" id="services">Services</a>
<ul class="dropDown sub-menu">
	<li><a href="" id="recruitment">Recruitment & Placement</a></li>
	<li><a href="" id="recruitment">Temporary Staffing</a></li>
	<li><a href="" id="recruitment">Contract Staffing</a></li>
	<li><a href="" id="recruitment">Permanent Staffing</a></li>
	<li><a href="" id="development">Executive</a></li>
	<li><a href="">Training</a>
		<ul class="dropDown sub-menu menu">
			<li><a href="" id="industrial">Industrial</a></li>
			<li><a href="" id="corporate">Corporate</a></li>
		</ul>
	</li>
	
</ul><!-- end of dropdown -->
</li>
<li>
<a href="" id="career">Career</a>
<ul class="dropDown sub-menu">
	<li><a href="" id="apply">Apply Online</a></li>
	
</ul><!-- end of dropdown -->
</li>
<li>
<a href="" id="contact">Contact</a>
</li>
<li>
<a href="" id="login-form">Login</a>
</li>


				</ul><!-- end of nav tabs -->
			</nav><!-- end of main nav -->
  
			<a href="" class="generalLink" id="responsiveMainNavToggler"><i class="fa fa-bars"></i></a>
			<div class="clearfix"></div><!-- end of clearfix -->
			<div class="responsiveMainNav"></div><!-- end of responsive main nav -->
					  
					</div><!-- end fo col 12 -->
				</div><!-- end of row -->
			</div><!-- end of container -->
		</div><!-- end of sticky -->
	</div><!-- end of ndheader -->
</header><!-- end of header -->

<%= yield %>


<!-- Footer Section Start -->
<section class="footer-bg clear animation" data-animation="animation-fade-in-up" id="footer">
	<div class="rows">
		<div class="col-sm-5 ndft-no-padding footerbg-left">
			<div class="footer-left">
				<div class="col-sm-12 fotter-nopadd">
					<div class="ft_left">
						<h1 class="texth1">Say hello</h1>
						<h3 class="head_ft">we'd love to get response <br/>from you</h3>
						<div class="ftsocial">
							<ul class="social_sharenadea">
								<li><a href="https://www.facebook.com/webRedox" target="blank"><i class="fa fa-facebook fa-1x"></i></a></li>
								<li><a href="https://twitter.com/webredox" target="blank"><i class="fa fa-twitter fa-1x"></i></a></li>
								<li><a href="#"><i class="fa fa-skype fa-1x"></i></a></li>
							</ul>
						</div>
					</div>
				</div><!-- 1Col end-->
			</div><!-- footer left end -->
		</div><!-- col 5 end -->
		
		<div class="col-sm-7 ndft-no-padding footerbg-right">
			<div class="footer-right">
				<div class="col-sm-6 fotter-nopadd">
					<div class="ft_center">
						<h3 class="fthead">Current Openings</h3>
						<ul class="nadea_recentposts">
							<li> <!-- 1 -->
								
								<div class="pull-right text">
									<h5 class="ftblog_head"><a href="#" title="Lorem Ipsum">Web Developer</a></h5>
									<p class="date-time">exp more than 1 year</p>
								</div>
								<div class="ftmin-height"></div>
							</li>
							<li> <!-- 2 -->
								
								<div class="pull-right text">
									<h5 class="ftblog_head"><a href="#" title="Sed Lectus">Web Designer</a></h5>
									<p class="date-time">exp more than 1 year</p>
								</div>
								<div class="ftmin-height"></div>
							</li>
							
							<li> <!-- 3 -->
							
								<div class="pull-right text">
									<h5 class="ftblog_head"><a href="#" title="Video post">Graphics Designer</a></h5>
									<p class="date-time">exp more than 2 years</p>
								</div>
							</li>
						</ul>
					</div><!-- ft center end -->
				</div><!-- 6Col end-->
				
				<div class="col-sm-6 fotter-nopadd2">
					<div class="nadea_ContInro">
						<h3 class="fthead">Contact Info</h3>
						<ul class="address">
							<li>
								<div class="pull-left">
									<div class="ftIcon icon-pin-add">
										<i class="ndlocationIcon ndftIcon"></i>
									</div>
								</div>
								
								<p>SK Consultants<br/>50B 3rd floor,Bharat Nager,New Friends Colony,New Delhi</p>
							</li>
							<li>
								<div class="pull-left">
									<div class="ftIcon icon-phone-add">
										<i class="ndphoneeIcon ndftIcon"></i>
									</div>
								</div>
								<p>+(91)-9711063143</p>
							</li>
							<li>
								<div class="pull-left">
									<div class="ftIcon icon-from">
										<i class="ndformIcon ndftIcon"></i>
									</div>
								</div>
								<p><a class="mail-box" href="mailto:#"> corporate.skc@gmail.com<br>skconsultants@outlook.com</a></p>
							</li>
						</ul>
					</div>
				</div><!-- 6Col end-->
			</div><!-- .test row end -->
		</div><!-- col 7 end -->
	</div><!-- rows end -->

	<!-- Footer Bottom Start-->
	<div class="footer-bottom clear">
		<div class="container">
			<div class="row">
				 
				<div class="col-sm-8">
					<p class="copywrite pull-left">&copy; 2016 SK Consultants<span class="font-color"></p>
				</div><!-- col 6 end -->
				<div class="col-sm-4">
					<p class="copywrite pull-right">Design & Developed By: <label>Raghav Pratap Singh</label><label class="ddby">raghavvishnoi10@gmail.com</label>
					</p>
					 

				</div><!-- col 6 end -->
			</div><!-- row end -->
		</div><!-- container end -->
	</div><!-- Footer Bottom End -->
</section><!-- footer section end  -->




<script type="text/javascript">
$("#hlogo").click(function(){
	location.href = "/"
})
$("#home").click(function(){
	location.href = "/"
})
$("#about").click(function(){
	 location.href = "/about"			 
})
$("#services").click(function(){
	 location.href = "/services"
})
$("#recruitment").click(function(){
	 location.href = "/services/recruitment"
})
$("#industrial").click(function(){
	 location.href = "/services/industrial"
})
$("#corporate").click(function(){
	 location.href = "/services/corporate"
})
$("#development").click(function(){
	 location.href = "/services/development"
})
$("#contact").click(function(){
	 location.href = "/contact"
})
$("#login-form").click(function(){
	 location.href = "/login"
})
$("#apply").click(function(){
	 location.href = "/candidates/new"
})


</script>
